@import "mixins.less";
@import "animations.less";

.nav-home {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-home__img {
  margin-right: 20px;
}

.nav-home-svgwrapper {
  position: relative;
}


.nav-home-text {
  flex-shrink: 0;
}

.nav-home-text__name {
	.titlefont;
}

.nav-home-text__description  {
	.titlefont(16px);
}


.nav-home-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 120px;
    height: 100px;
    cursor: pointer;
    flex-shrink: 0;
}

.nav-home-logo__circle {
  stroke: #858585;
  stroke-width: 0;
  fill: none;
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
}

.nav-home-logo:hover .nav-home-logo__circle {
	stroke-width: 2;
	animation: anim 5s linear 0s infinite;
}



