/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
@-webkit-keyframes halfflip {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes halfflip {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes anim {
  0% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  25% {
    stroke-dashoffset: 40;
    opacity: .8;
  }
  50% {
    stroke-dashoffset: 80;
    opacity: .6;
  }
  75% {
    stroke-dashoffset: 120;
    opacity: .8;
  }
  100% {
    stroke-dashoffset: 140;
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  25% {
    stroke-dashoffset: 40;
    opacity: .8;
  }
  50% {
    stroke-dashoffset: 80;
    opacity: .6;
  }
  75% {
    stroke-dashoffset: 120;
    opacity: .8;
  }
  100% {
    stroke-dashoffset: 140;
    opacity: 1;
  }
}
body {
  margin-top: 125px;
}
.page {
  width: 1220px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
}
.content-container {
  max-width: 100%;
  width: 1000px;
  min-height: 200px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 500px) {
  body {
    margin-top: 150px;
  }
}
@font-face {
  font-family: 'ambleregular';
  src: url('../fonts/ambleregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amblebold';
  src: url('../fonts/amblebold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'texgyrecursorregular';
  src: url('../fonts/texgyre.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hattori_hanzolight';
  src: url('../fonts/Hattori_Hanzo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.about-container {
  max-width: 100%;
  width: 1000px;
}
.about-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}
.about-intro-text {
  width: 70%;
  font-family: 'ambleregular';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
  font-style: italic;
  text-align: center;
}
.about-intro-text:nth-of-type(1) {
  margin-bottom: 0px;
  -webkit-margin-after: 0;
}
.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 50px 0px;
}
.about-main-img {
  width: 45%;
}
.about-main-text {
  width: 45%;
  font-family: 'ambleregular';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
.about-main-text p:nth-of-type(1) {
  margin-top: 0px;
  -webkit-margin-before: 0;
}
@media (max-width: 620px) {
  .about-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-main-img {
    width: 55%;
    margin-bottom: 30px;
    margin-top: -40px;
  }
  .about-main-text {
    width: 90%;
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 50px 0px;
}
.about-pic {
  display: block;
  width: 45%;
  margin-right: 30px;
}
.about-content {
  width: 45%;
  font-family: 'ambleregular';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
.about-icons__link {
  display: inline-block;
}
.about-icons__link--email {
  background-image: url(../images/sprite.png);
  background-position: 0px -35px;
  width: 35px;
  height: 35px;
}
.about-icons__link--facebook {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 35px;
  height: 35px;
}
.about-icons__link--github {
  background-image: url(../images/sprite.png);
  background-position: -35px 0px;
  width: 35px;
  height: 35px;
}
.about-text {
  margin-bottom: 30px;
}
@media (max-width: 530px) {
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-pic {
    width: 90%;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .about-content {
    width: 90%;
  }
  .about-icons {
    text-align: center;
  }
}
@keyframes halfflip {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes anim {
  0% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  25% {
    stroke-dashoffset: 40;
    opacity: .8;
  }
  50% {
    stroke-dashoffset: 80;
    opacity: .6;
  }
  75% {
    stroke-dashoffset: 120;
    opacity: .8;
  }
  100% {
    stroke-dashoffset: 140;
    opacity: 1;
  }
}
.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
}
.homepage-logo-svgwrapper {
  position: relative;
}
.homepage-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.homepage-logo-pic {
  display: inline-block;
  max-width: 120px;
  height: 100px;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
}
.homepage-logo-pic--flip {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-animation: halfflip 1s ease-in-out 1s forwards;
  animation: halfflip 1s ease-in-out 1s forwards;
}
.homepage-logo__circle {
  stroke: #858585;
  stroke-width: 0;
  fill: none;
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
}
.homepage-logo-text {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.homepage-logo-text__name {
  font-family: 'hattori_hanzolight';
  font-weight: normal;
  font-size: 20px;
  color: #343434;
}
.homepage-logo-text__description {
  font-family: 'hattori_hanzolight';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
.homepage-intro {
  padding: 0px 50px;
}
.homepage-line {
  background-color: #343434;
  width: 600px;
  max-width: 90%;
  height: 1px;
  position: relative;
  margin: 20px auto;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.homepage-line--visible {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 1.2s ease-in-out 0s;
  transition: -webkit-transform 1.2s ease-in-out 0s;
  transition: transform 1.2s ease-in-out 0s;
  transition: transform 1.2s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
}
.homepage-intro__text {
  font-family: 'ambleregular';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
  text-align: justify;
}
@media (max-width: 700px) {
  .homepage-intro__text {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .homepage-logo {
    margin-top: -50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .homepage-logo-text {
    text-align: center;
    margin-top: 10px;
  }
  .homepage-logo-pic {
    margin-right: 0px;
  }
}
.projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.projects-header__img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px 0px;
}
.projects-header__img:hover {
  -webkit-animation: flip 2s ease-in-out 0s infinite;
  animation: flip 2s ease-in-out 0s infinite;
  cursor: pointer;
}
.projects-header__img-wrapper--start {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-animation: halfflip 2s ease-in-out 1s forwards;
  animation: halfflip 2s ease-in-out 1s forwards;
}
.projects-header__text {
  margin-bottom: 20px;
  width: 600px;
  max-width: 90%;
  font-family: 'ambleregular';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
  font-style: italic;
  text-align: center;
}
.projects-header-line {
  background-color: #343434;
  width: 600px;
  max-width: 90%;
  height: 1px;
  position: relative;
  margin: 20px auto;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.projects-header-line--visible {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 1.2s ease-in-out 0s;
  transition: -webkit-transform 1.2s ease-in-out 0s;
  transition: transform 1.2s ease-in-out 0s;
  transition: transform 1.2s ease-in-out 0s, -webkit-transform 1.2s ease-in-out 0s;
}
.projects-list-item {
  margin: 50px 0px;
}
.projects-list-item-headline {
  margin-left: 20px;
  font-family: 'hattori_hanzolight';
  font-weight: normal;
  font-size: 20px;
  color: #343434;
  text-transform: uppercase;
}
.projects-list-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.projects-list-item-link {
  display: block;
  margin-right: 20px;
}
.projects-list-item-pic {
  max-width: 100%;
}
.projects-list-item-pic:nth-of-type(1) {
  border: 1px solid #343434;
}
.projects-list-item-description {
  width: 60%;
  font-family: 'ambleregular';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
  margin-top: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
@media (max-width: 520px) {
  .projects-list-item-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .projects-list-item-link {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .projects-list-item-description {
    width: 90%;
    text-align: center;
  }
}
.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 50px;
}
.skills-item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.skills-item__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px;
  text-align: center;
  width: 100%;
  font-family: 'hattori_hanzolight';
  font-weight: normal;
  font-size: 18px;
  color: #343434;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.skills-item__headline::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #343434;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
}
.skills-item__headline::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #343434;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
}
.skills-item__headline span {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.skills-item__img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.skills-item__img:hover {
  -webkit-animation: flip 2s ease-in-out 0s infinite;
  animation: flip 2s ease-in-out 0s infinite;
  cursor: pointer;
}
.skills-item__img-wrapper--start {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-animation: halfflip 2s ease-in-out 1s forwards;
  animation: halfflip 2s ease-in-out 1s forwards;
}
.skills-item__description {
  font-family: 'ambleregular';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
@media (max-width: 620px) {
  .skills-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .skills-item {
    width: 90%;
  }
}
.footer {
  background-color: #fff;
  margin-top: 100px;
}
.footer-container {
  max-width: 100%;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-icons__link {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.footer-icons__link--email {
  background-image: url(../images/sprite.png);
  background-position: -70px -20px;
  width: 20px;
  height: 20px;
}
.footer-icons__link--facebook {
  background-image: url(../images/sprite.png);
  background-position: -35px -35px;
  width: 20px;
  height: 20px;
}
.footer-icons__link--github {
  background-image: url(../images/sprite.png);
  background-position: -70px 0px;
  width: 20px;
  height: 20px;
}
.footer-text {
  font-family: 'hattori_hanzolight';
  font-weight: normal;
  font-size: 14px;
  color: #343434;
}
.loader-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  min-height: 100vh;
  background-color: #ffffff;
}
.loader {
  width: 300px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rect {
  width: 50px;
  height: 50px;
  background-color: #343434;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.rect--active {
  -webkit-transform: scale(0.3) rotate(45deg);
  transform: scale(0.3) rotate(45deg);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.nav-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-home__img {
  margin-right: 20px;
}
.nav-home-svgwrapper {
  position: relative;
}
.nav-home-text {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.nav-home-text__name {
  font-family: 'hattori_hanzolight';
  font-weight: normal;
  font-size: 20px;
  color: #343434;
}
.nav-home-text__description {
  font-family: 'hattori_hanzolight';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
}
.nav-home-logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 120px;
  height: 100px;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.nav-home-logo__circle {
  stroke: #858585;
  stroke-width: 0;
  fill: none;
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
}
.nav-home-logo:hover .nav-home-logo__circle {
  stroke-width: 2;
  -webkit-animation: anim 5s linear 0s infinite;
  animation: anim 5s linear 0s infinite;
}
.nav {
  position: fixed;
  background-color: #fff;
  z-index: 5;
  top: 0;
  width: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 40px;
}
.nav--home {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
.top-menu__item {
  position: relative;
}
.top-menu__item:not(:nth-of-type(1)) {
  margin-left: 10px;
}
.top-menu__item::after {
  content: "";
  background-color: #343434;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
  transition: -webkit-transform 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
}
.top-menu__item:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
  transition: -webkit-transform 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
}
.top-menu__link {
  font-family: 'hattori_hanzolight';
  font-weight: normal;
  font-size: 16px;
  color: #343434;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 700px) {
  .nav--home {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-home-text {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-home-svgwrapper {
    width: 120px;
    height: 100px;
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
  }
}
@media (max-width: 575px) {
  .nav {
    width: calc(100% - 20px);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
  }
  .nav logo {
    display: none;
  }
  .top-menu {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-padding-start: 0px;
    padding-left: 0px;
  }
  .top-menu__item {
    margin-bottom: 10px;
  }
  .top-menu__link {
    font-family: 'hattori_hanzolight';
    font-weight: normal;
    font-size: 14px;
    color: #343434;
  }
}
.tw-wrapper {
  width: 200px;
  min-height: 35px;
  max-width: 50%;
  background-color: #DCDCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tw-title {
  text-transform: uppercase;
  font-family: 'texgyrecursorregular';
  font-weight: normal;
  font-size: 28px;
  color: #454545;
  margin-left: 20px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 500px) {
  .tw-wrapper {
    margin-top: -50px;
  }
}
