<div class = "content-container">
	<typewriter typetext = '[{"setSpeed": "medium"}, {"word": "xon"}, {"lettersToErase": 3}, {"setSpeed": "slow"},{"word": "contact"}]'></typewriter>
	<div class = "contact-container">
		<img src = "./images/contact.jpg" alt = "contact" class = "about-pic">
		<div class = "about-content">
			<div class = "about-text">If you want to get in touch with me, don't hesitate to send me an email or a message on Facebook. I'll be looking forward to talking to you. 
			</div>
			<div class = "about-icons">
				<a class = "about-icons__link about-icons__link--email" href= "mailto:alexeymosko@gmail.com" alt  = "Email icon" target= "blank"></a>
				<a class = "about-icons__link about-icons__link--facebook" href= "https://www.facebook.com/alexey.mosko" alt  = "Facebook icon" target= "blank"></a>
				<a class = "about-icons__link about-icons__link--github" href= "https://github.com/alexeymosko" alt  = "Github icon" target= "blank"></a>
			</div>
		</div>
	</div>
</div>
