<div class = "content-container">
	<typewriter typetext = '[{"setSpeed": "medium"}, {"word": "avo"}, {"lettersToErase": 2}, {"setSpeed": "slow"},{"word": "bout."}, {"lettersToErase": 1}]'></typewriter>
	<div class = "about-intro">
	<p class = "about-intro-text">Deep thinking. Versatile. A lifelong learner. I come from a social sciences and media background which empowers me with new visions.  </p>
	<p class = "about-intro-text">For me turning to tech was a step out of the comfort zone.  Here's my story.</p>
</div>
	<div class = "about-main">
		<img class = "about-main-img" ng-src = "images/about.jpg">
		<div class = "about-main-text">
		<p>As a student I've been fascinated by social sciences and foreign
languages. I made a bachelor in political science and then, after
obtaining DAAD scholarship headed to Germany to get MA and M.Sc. in
European Studies, a curriculum that encompassed EU law and
economics.</p>

<p>Afterwards I prefered corporate life to pursuing academic
career to make the most out of my other passion - writing. 
 I went through a couple of copywriter jobs to find myself in media business. </p>
<p>I spent 5 happy years at Russia beyond the Headlines, an international
project of Russian daily newspaper Rossiyskaya gazeta in the role of
web and multimedia editor and stuff writer creating sports, travel as well as
arts and living stories, Q&As, illustrated listicles, multimedia
timelines, longreads, quizzes, interactive infographics, video
features and culinary video tutorials.</p>

<p>It was media where I got the taste of web technologies. Working
closely with content management and multimedia tools boosted my desire
to move to front-end development. I really wanted to configure it all
myself without any mediators. Now I'm in touch with HTML, CSS and
JavaScript -  the right toolbox for creating beautiful websites and
user interfaces.
</p>
</div>
	</div>
</div>